@using Client.Interfaces
@inject ISnackbar Snackbar
@inject IAlumnosService Service

<h3>BorrarAlumno</h3>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public int Id { get; set; }
}